<div class="bg-image"></div>
<app-bestseller></app-bestseller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li> <a (click)="singupHandler()">signup</a></li>
      <li><a (click)="loginHandler()">Login</a></li>
      <!-- <li><a (click)="forgotpasswordHandler()">forgot-password</a></li> -->
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right are reserved to omar guuldoon </h2>
</div>